###############################################################################
####### Default Env values                                       ##############
###############################################################################
ECDSA_PRIVATE_KEY_PATH=/app/operator_keys/ecdsa_key.json
BLS_PRIVATE_KEY_PATH=/app/operator_keys/bls_key.json

# Metrics specific configs
ENABLE_METRICS=true
EIGEN_METRICS_URL=0.0.0.0:9092

# Node API specific configs
ENABLE_NODE_API=true
NODE_API_URL=0.0.0.0:9091

###############################################################################
####### Default Env for AVS values                               ##############
###############################################################################
# holesky smart contracts
AVS_REGISTRY_COORDINATOR_ADDRESS=0xC452d0BcEE841EEd2AEe687495558e7a3C6010BE
OPERATOR_STATE_RETRIEVER_ADDRESS=0x222B52694Ab22AFc155B573baF52C1ed9a26b3f1

# URL for eth
LAYER1_CHAIN_ID=17000
ETH_RPC_URL=https://ethereum-holesky-rpc.publicnode.com
ETH_WS_URL=wss://ethereum-holesky-rpc.publicnode.com

# The layer1 and layer2 chain id
LAYER2_CHAIN_ID=1637450

###############################################################################
#######    Log Level                                             ##############
###############################################################################
# If run as debug mode, should use false
OPERATOR_PRODUCTION=true

###############################################################################
####### TODO: Operators please update below values for your node ##############
###############################################################################
# TODO: Set the metadata url for operator
METADATA_URI=https://path/to/metadata.json

# TODO: Operators need to update this to their own paths
USER_HOME=${HOME}
EIGENLAYER_HOME=${USER_HOME}/.eigenlayer

# TODO: Operators need to update this to their own keys
NODE_ECDSA_KEY_FILE_HOST=${EIGENLAYER_HOME}/operator_keys/opr.ecdsa.key.json
NODE_BLS_KEY_FILE_HOST=${EIGENLAYER_HOME}/operator_keys/opr.bls.key.json

# TODO: Operators need to add password to decrypt the above keys
# If your password contain space, / or $, please use single quote to 
# encapsulate your password e.g 'mypassword /$'
OPERATOR_BLS_KEY_PASSWORD=
OPERATOR_ECDSA_KEY_PASSWORD=
